body{
    background-image: url("/static/logo25.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-size: 80px 80px;
}

.bordered{
    border: 1px solid #A0A0C0;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
    background: #f4f4ff;
    border-radius: 10px;
    padding-right: 4px;
    padding-left: 4px;
}

h6{
    text-align: center
}

[v-cloak] {
    display: none;
}

.form-group{
    margin-bottom: 0px;
}