body{
    background-image: url("/static/logo25.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-size: 80px 80px;
    font-size: 12px;
}

.bordered{
    border: 1px solid #A0A0C0;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
    background: #f4f4ff;
    border-radius: 10px;
    padding-right: 4px;
    padding-left: 4px;
}

h6{
    text-align: center;
    font-size: 14px;
}

[v-cloak] {
    display: none;
}

.form-group{
    margin-bottom: 0px;
}

.float-right{
    float: right;
}

.gray{
    color: #CCCCCC;
}

.red{
    color: #CC0000;
}

.green{
    color: #00CC00;
}

.col-form-label.small{
    font-size: 12px;
}

.badge-warning{
    font-weight: normal;
    font-size: 11px;
    background-color: #fff1c7;
}

.w2c{
    width: 10%;
}
.w25p{
    width: 25%;
}

.icon {
  color: #007bff;
  font-weight: bold;
  font-size: 16px;
}

button .icon {
  font-size: 12px;
}

.ion-ios-checkmark, .ion-plus-circled{
  cursor: pointer;
}

.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

textarea.form-control {
    white-space: pre;
    overflow-wrap: normal;
    font-size: 12px;
    height: calc(100% - 36px);
    min-height: 100px;
}

table.table-sm{
    margin-bottom: 0;
}

table.table-sm th, table.table-sm td{
    margin-bottom: 0;
    padding: 0;
}

th.sm{
    width: 60px;
}

th.md{
    width: 140px;
}

span.light-gray{
    color: #dddddd;
}

.base-ore-block{
    display: inline-grid;
    margin: 3px;
    border: 1px solid #DDEEDD;
}

.ore-block{
    display: inline-grid;
}

label.label-sm{
    margin: 0;
}

.form-control-sm{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

