{% extends "base.html" %}

{% block scripts%}
<script src="{{ url_for('static', filename='vendor/axios.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/clipboard.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/vue.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/auto-complete.min.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid moonmat" id="moonmat">
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12 bordered">
                    {% include 'moonmat/settings.html' %}
                </div>
                <div class="col-sm-12 bordered">
                    {% include 'moonmat/raw.html' %}
                </div>
            </div>
        </div>
        <div class="col-sm-4 bordered">
            {% include 'moonmat/items.html' %}
        </div>
        <div class="col-sm-4 bordered">
        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='apps/filters.js') }}"></script>
<script src="{{ url_for('static', filename='apps/moonmat.js') }}"></script>
{% endblock %}