{% extends "base.html" %}

{% block scripts%}
<script src="{{ url_for('static', filename='vendor/axios.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/clipboard.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/vue.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/auto-complete.min.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid scanner" id="scanner">
    <div class="row">

        <div class="col-sm-2 bordered">
            {% include 'mscan/list.html' %}
        </div>

        <div class="col-sm-2 bordered" v-if="selected != null">
            {% include 'mscan/raw.html' %}
        </div>

        <div class="col-sm-8" v-if="selected != null">
            <div class="row">
                {% include 'mscan/locations.html' %}
            </div>
            <div class="row">
                <div class="col-sm-12 bordered">
                     {% include 'mscan/items.html' %}
                </div>
            </div>
        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='apps/components/location-select.js') }}"></script>
<script src="{{ url_for('static', filename='apps/filters.js') }}"></script>
<script src="{{ url_for('static', filename='apps/market_scans.js') }}"></script>
{% endblock %}