<table class="table info table-sticky">
    <thead>
    <tr>
        <th class="w-sign"></th>
        <th class="w-name">
            <i id="copy-point" class="icon ion-ios-copy"></i>

            &nbsp;&nbsp;&nbsp;

            <i class="icon ion-gear-b" v-on:click="UpdateMarketInfo()" v-show="!loading"></i>
            <img width=24 height=24 src="/static/loading.gif" v-show="loading">
        </th>
        <th class="w-num">Qty</th>
        <th class="w-num">Market</th>
        <th class="w-num">Store</th>
        <th class="w-num-num">x[M] x[S]</th>
        <th class="w-price">Min./Avg.Price</th>
        <th class="w-price">Jita</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="item in selected.items">
        <td class="w-sign"><img width="24" height="24" v-bind:src="IURL(item.type.id)"/></td>
        <td class="crop w-name" :title="item.type.name">
            <i class="copy-item icon ion-ios-copy" :data-clipboard-text="item.type.name"></i>
            <span v-bind:class="{ 'reded-text': IsYellowItem(item)||IsRedItem(item)}"><% item.type.name %></span>
        </td>
        <td class="w-num text-right"><%item.qty | fi%></td>
        <td class="w-num text-right">
            <%item.market_qty | fi%>
        </td>
        <td class="w-num text-right">
            <%item.store_qty | fi%>
        </td>
        <td class="w-num-num text-right">
            <span class="light-gray">x[</span><span v-bind:class="{ 'reded-b': IsRedItem(item), 'pinked-b': IsPinkItem(item) }"><%item.fit_times | fi%></span><span class="light-gray">]</span>
            <span class="light-gray">x[</span><span v-bind:class="{ 'yellow-b': IsYellowItem(item)}"><%item.store_fit_times | fi%></span><span class="light-gray">]</span>
        </td>
        <td class="w-price text-right">
            <span v-bind:class="{ 'reded-text': IsOverpriced(item.min_price,item.price.sell)}"><%item.min_price | ff%></span><br>
            <span v-bind:class="{ 'reded-text': IsOverpriced(item.avg_price,item.price.sell)}"><%item.avg_price | ff%></span>
        </td>
        <td class="w-price text-right"><%item.price.sell | ff%></td>
    </tr>
    </tbody>
</table>