<div class="flex">
    <i v-show="!ask.newNameChanged" class="icon ion-ios-circle-outline"></i>
    <i v-show="ask.newNameChanged" v-on:click="AddScanner()" class="icon ion-plus-circled"></i>

    <input class="form-control form-control-sm" type="text" placeholder="New Fit Scan" v-model="ask.newName" v-on:keyup.enter="AddScanner()"  v-on:change="NewNameChanged" v-on:keyup="NewNameChanged">
</div>
<div class="item" v-for="item in scanners" v-bind:class="{selected: IsSelected(item)}">
    <i v-on:click="AskDeleteScanner(item.id)" class="icon ion-trash-a"></i>

    <span v-show="!item.editing" v-on:click="SetSelected(item)" class="pointer free-space"><% item.name %></span>
    <span v-show="!!item.editing"><input class="free-space" type="text" v-model="item.name" v-on:keyup.enter="RenameScanner(item)"></span>

    <i v-show="!item.editing" v-on:click="StartRenameScanner(item)" class="icon ion-edit"></i>

    <i v-show="!!item.editing" v-on:click="CancelRenameScanner(item)" class="icon ion-close"></i>
    <span v-show="!!item.editing" class="">&nbsp;</span>
    <i v-show="!!item.editing" v-on:click="RenameScanner(item)" class="icon ion-ios-checkmark"></i>
</div>