<div class="col-sm-5 bordered auditors">
    <h6>Auditors & Locations:</h6>

    <i v-show="ask.charId==0 || ask.locationId==0"  class="icon ion-ios-circle-outline"></i>
    <i v-show="ask.charId!=0 && ask.locationId!=0" v-on:click="AddLocation" class="icon ion-plus-circled"></i>

    <select v-model.number="ask.charId">
        <option value="0">---</option>
        {% for char in chars %}
        <option value="{{ char.id }}">{{ char.character_name }}</option>
        {% endfor %}
    </select>

    <type-select v-on:location-selected="AuditorLocationSelected($event)" :char_id="ask.charId"></type-select>

    <ul class="list-unstyled">
        <li v-for="s in selected.locations">
            <i v-on:click="DeleteLocation(s.id)" class="icon ion-trash-a"></i>
            [<%s.char_name%>] <%s.location_name%>
        </li>
    </ul>

</div>

<div class="col-sm-5 bordered assets">
    <h6>Check Assets for:</h6>
    <i v-show="ask.assetsCharId==0 || ask.assetsLocationId==0"  class="icon ion-ios-circle-outline"></i>
    <i v-show="ask.assetsCharId!=0 && ask.assetsLocationId!=0" v-on:click="AddAssetsLocation" class="icon ion-plus-circled"></i>

    <select v-model.number="ask.assetsCharId">
        <option value="0">---</option>
        {% for char in chars %}
        <option value="{{ char.id }}">{{ char.character_name }}</option>
        {% endfor %}
    </select>

    <type-select v-on:location-selected="AssetsLocationSelected($event)" :char_id="ask.assetsCharId"></type-select>

    <ul class="list-unstyled">
        <li v-for="s in selected.assets_locations">
            <i v-on:click="DeleteLocation(s.id)" class="icon ion-trash-a"></i>
            [<%s.char_name%>] <%s.location_name%>
        </li>
    </ul>


</div>

<div class="col-sm-2 bordered">
    <h6>Warning qty:</h6>
    <input type="number" v-model="selected.fit_times" v-on:change="ChangeFitTimes()">


    <h6>Last checked:</h6>
    <%selected.last_checked%> hours ago

    <h6>
      <i class="icon ion-gear-b" v-on:click="UpdateMarketInfo()" v-show="!loading"></i>
      <img width=24 height=24 src="/static/loading.gif" v-show="loading">
    </h6>

</div>

