<div class="col-sm-6 bordered">
    <h6>Locations & Auditors</h6>

    Auditor
    <select v-model.number="ask.charId">
        <option value="0">---</option>
        {% for char in chars %}
        <option value="{{ char.id }}">{{ char.character_name }}</option>
        {% endfor %}
    </select>

    Location
    <type-select v-on:location-selected="LocationSelected($event)" :char_id="ask.charId"></type-select>

</div>
<div class="col-sm-6 bordered">
    <h5>
        Last check  (<%selected.CheckedAgo%>) day(s) ago
        &nbsp;<span v-on:click="UpdateMarketInfo()" class="glyphicon glyphicon-refresh edit" v-show="!loading"></span>
        <img width=24 height=24 src="/static/loading.gif" v-show="loading">
    </h5>
    x <input type="number" v-model="selected.fit_times" v-on:change="ChangeFitTimes()">


</div>
