<h6 class="text-left">Minerals & Ice products</h6>
<table class="table table-sm">
    <tr>
        <th></th>
        <th></th>
        <th class="text-right gray">All</th>
        <th class="text-right red">After</th>
        <th class="text-right red">Need</th>
        <th class="text-right green">Odd</th>
        <th class="gray">%</th>
    </tr>
    <tr v-for="mineral in calc.minerals">
        <td><img width="24" height="24" v-bind:src="IURL(mineral.type.id)"/></td>
        <td><% mineral.type.name %></td>
        <td class="text-right"><% mineral.all_qty|fi %></td>
        <td class="text-right red"><% mineral.after_qty|fi %></td>
        <td class="text-right red"><% mineral.need_qty|fi %></td>
        <td class="text-right green"><% mineral.odd_qty|fi %></td>
        <td class="text-left gray">(<% mineral.percent|fp %>%)</td>
    </tr>
</table>