{% extends "base.html" %}

{% block scripts%}
<script src="{{ url_for('static', filename='vendor/axios.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/auto-complete.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/vue.js') }}"></script>
{% endblock %}

{% block content %}

<script>
    var gStatic = {{static|safe}};
</script>

<div id="calculator" class="container-fluid">
    <div class="row" v-cloak>

        <div class="col-sm-6">
            <div class="bordered">
                {% include 'calc_settings.html' %}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="bordered">
                {% include 'calc_minerals.html' %}
            </div>
        </div>

    </div>

    <div class="row" v-cloak>
        <div class="col-sm-12">
            <div class="bordered build_list">
                {% include 'calc_build_list.html' %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="bordered storage">
                {% include 'calc_storage.html' %}
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="bordered">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="bordered">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#ore_list">Ore List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#ore_settings">Ore Settings</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="ore_list">
                        List
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="ore_settings">
                        {% include 'calc_ores.html' %}

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='apps/components/type-select.js') }}"></script>
<script src="{{ url_for('static', filename='apps/filters.js') }}"></script>
<script src="{{ url_for('static', filename='apps/calculator.js') }}"></script>
{% endblock %}