{% extends "base.html" %}

{% block scripts%}
<script src="{{ url_for('static', filename='vendor/axios.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/auto-complete.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/vue.js') }}"></script>
{% endblock %}

{% block content %}

<script>
    var gStatic = {{static|safe}};
</script>

<div id="calculator" class="container-fluid">
    <div class="row" v-cloak>

        <div class="col-sm-6">
            <div class="bordered">
                {% include 'calc_settings.html' %}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="bordered">
                <h6 class="text-left">Minerals</h6>
                <table class="table table-sm">
                    <tr v-for="mineral in calc.minerals">
                        <td><img width="24" height="24" v-bind:src="IURL(mineral.type_id)"/></td>
                        <td><% mineral.type_name %></td>
                        <td class="text-right"><% mineral.qty|fi %></td>
                    </tr>
                </table>

            </div>
        </div>

    </div>

    <div class="row" v-cloak>
        <div class="col-sm-12">
            <div class="bordered">
                {% include 'calc_build_list.html' %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="bordered">
                Storage
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="bordered">
                Ore settings
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="bordered">
                Ore list
            </div>
        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='apps/components/type-select.js') }}"></script>
<script src="{{ url_for('static', filename='apps/filters.js') }}"></script>
<script src="{{ url_for('static', filename='apps/calculator.js') }}"></script>
{% endblock %}